
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.days-one {
    font-family: "Days One", cursive;
}

.comfort{
    font-family: "Comfortaa", cursive;
}

@import "tailwindcss";